.header {
	width: 100%;
	padding: 0;
	display: flex;
	margin-bottom: 40px;
}

.logo {
	flex: 0 0 100px;
	padding: 15px 0px 15px 15px;
}

.hero {
	flex: 1;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	background: #736EFF;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.10);
	border-radius: 0 0 0 10px;
	font-size: 15px;
}

.nav {
	width: 100%;
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
}

.nav li {
	margin-left: 20px;
}

.nav li a {
	padding: 10px 2px;
	text-decoration: none;
	color: #58FFE7;
	font-weight: bold;
}

.active {
	text-decoration: underline;
}

.sys {
	margin-top: 70px;
	color: #FFF;
	display: flex;
	flex-direction: column;
}
.sys p {
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Space Mono', monospace;
}

.sys span {
	color: #58FFE7;
	text-transform: lowercase;
}