@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Space+Mono');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

:root {
	--primary-color: #291542;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	color: var(--primary-color);
	width: 100%;
	overflow-x: hidden;
}


