.listview {
	list-style-type: none;
	padding: 0;
	width: 100%;
}


.listview li {
	display: flex;
	border-bottom: 1px solid #F1F1F1;
	padding: 10px 10px;
}

.listview li:not(.heading):hover {
	background: #F1F1F1;
}
.listview li span:first-child {
	flex: 1 1 auto;
	word-break: break-all;
}

.listview li span:last-child {
	flex: 0 0 140px;
	text-align: right;
}

.listview li span .no {
	border-radius: 2px;
	padding: 5px 0px;
	width: 90px;
	justify-content: center;
	display: inline-flex;
	background: #FA2337;
	color: #fff;
}

.listview li span .yes {
	border-radius: 2px;
	padding: 5px 0px;
	width: 90px;
	justify-content: center;
	display: inline-flex;
	background: #4fd363;
	color: #053036;
}


.listview li span .maybe {
	border-radius: 2px;
	padding: 5px 0px;
	width: 90px;
	justify-content: center;
	display: inline-flex;
	background: #fecb4e;
	color: #282732;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #736EFF;
	padding: 15px 10px;
	border-bottom: 2px solid #EBEBEB !important;
}